@model ManageAccountViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="btn-group-vertical well">
    <button class="btn btn-default"><h1><strong>@Model.Name</strong> @Model.AccountTotal ,-</h1></button>
    <button class="btn btn-danger" onclick="location.href='@Url.Action("DeleteAccount", "ParentHome", new { id = Model.Id })'">Slet konto</button>
    <button class="btn btn-success" onclick="location.href='@Url.Action("EditAccount", "ParentHome", new { id = Model.Id })'">Skift Navn / Login</button>
</div>

<form asp-controller="ParentHome" asp-action="NewTransaction" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Ny Transaktion</h4>
        </div>

        <div class="panel-body">
            @Html.HiddenFor(o => o.Id)
            <div class="form-group">
                <label asp-for="NewTransactionAmount" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NewTransactionAmount" class="form-control" />
                    <span asp-validation-for="NewTransactionAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewTransactionDescription" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NewTransactionDescription" class="form-control" />
                    <span asp-validation-for="NewTransactionDescription" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" value="Withdraw" name="button">Hæv</button>
            <button type="submit" class="btn btn-default" value="Deposit" name="button">Indsæt</button>

        </div>
    </div>
</form>

<pre>
Dato        Beskrivelse      Beløb      Total
---------------------------------------------
@foreach (var transaction in Model.Transactions)
{
    @string.Format("{0,10}  {1,15}  {2,7}  {3, 7}{4}", transaction.Date.ToString("yyy-MM-dd"), transaction.Description, transaction.Amount, transaction.AccountTotal, Environment.NewLine)
}
</pre>
