@model ChildHomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1><strong>@Model.Name</strong> <span class="label label-default">@Model.AccountTotal.ToString("F2") kr.</span></h1>
</div>

<div class="list-group">
    @foreach (var transaction in Model.Transactions)
    {
        <div class="list-group-item">
            <div class="list-group-item-text"><strong>@transaction.Description</strong> <span class="label @((transaction.Amount<0)?"label-danger":"label-success") pull-right">@transaction.Amount.ToString("F2")</span></div>
            <div class="list-group-item-text">
                @transaction.Date.ToString("yyy-MM-dd")
                <div class="pull-right">
                    <span>saldo: </span>
                    <span class="label label-default" style="width: 200px">@transaction.AccountTotal.ToString("F2")</span>
                </div>
            </div>
        </div>
    }
</div>
